/* Reset de CSS básico */
*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Para que cuente margin y padding en el tamaño de la caja */
}
/* ESTILOS GLOBALES */
:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  /* Fuente sin serifa más legible para entorno cliente */
  
}